.awesome {
  padding-top: 7.3125rem;
  padding-bottom: 3.625rem;
}

.awesome-sectioncard {
  margin-top: 4.4375rem;
  display: flex;
}

.awesome__card {
  min-width: 23.125rem;
}

.awesome__card-frame {
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  margin: 39px 139px;
  justify-content: center;
}

.awesome__card-imeg {
  width: 65.29px;
  height: 65.29px;
  margin: 13.35px;
}

.awesome__card-title {
  margin-top: 4.5625rem;
  font-family: "Open Sans";
  font-size: 1.5rem;
  line-height: 2.0625rem;
  text-align: center;
  color: #000000;
}

.awesome__card-subtitle {
  margin-top: 2.5625rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #000000;
}

.awesome__card:nth-child(2) {
  margin: 0px 1.875rem;
}
@media(max-width: 480px){
  .awesome-sectioncard{
    margin-top: 3.125rem;
    display: flex;
    flex-wrap: wrap;
  }
  .awesome__card{
    width: calc(100% / 12);
  }
  .awesome__card:nth-child(2){
    margin: 0;
  }
}