.banner {
    background: linear-gradient(rgba(30, 29, 29, 0.8), rgba(0, 0, 0, 0.5)),
        url(../assets/icons/begraund-main.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
}

.banner-content__logo {
    max-width: 16.875rem;
    margin: 0;
}

.banner-flex-container {
    padding-top: 12.9375rem;
    padding-bottom: 11.5625rem;
    display: flex;
    justify-content: space-between;
}

.banner-content__title {
    margin-top: 3.18rem;
    font-weight: 500;
}

.banner-content__line {
    border: 1px solid #FFFFFF;
    width: 10.625rem;
    margin-top: 3.445rem;
}

.banner-content__subtitle {
    font-weight: 400;
    margin-top: 2.625rem;
}

.banner-form {
    min-width: 24.875rem;
    margin-bottom: 6.75rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-content__button {
    margin-top: 2.625rem;
    width: 16.875rem;
    height: 3.625rem;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.125rem;
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.banner-form__title {
    margin-top: 1.8125rem;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.banner-form__title-mark {
    background: none;
    color: #EC7979;
}

.banner-form__button {
   
    width: 100%;;
    min-height: 3.75rem;
    margin-top: 4.6875rem;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.9375rem;
    color: #FFFFFF;
}
@media(max-width: 480px){
    .banner{
    background-attachment:local;
    }
.banner-flex-container{
    flex-wrap: wrap;
    padding-top: 8.7575rem;
    padding-bottom: 3.125rem;
}
.banner-content__logo {
    display: none;
}
 .banner-content__title{
    margin-top: 0;
    text-align: center;
 }
 .banner-content{
    align-items: center;
 }
 .banner-content__button{
    width: 100%;
    margin-top: 20px;
 }
 .banner-content__line{
    width: 40%;
 }
 .banner-form{
    min-width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 0;
 }
}