@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap");
h2 {
  font-family: "Raleway";
  font-size: 36px;
}
h5 {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
p {
  font-family: "Raleway";
  font-style: normal;
  font-size: 18px;
}
button {
  cursor: pointer;
}
html{
  scroll-behavior: smooth;
}
