.main-header {
  background-color: black;
  position: fixed;
  top: 0px;
  min-width: 100%;
  z-index: 1000;


}

.main-header__conteiner{
  width: 1510px;
  margin: 0 auto;
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 170px;
}

.main-navigation__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  min-width: 113.8px;


  justify-content: space-around;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link:hover {
  color: red;
  transition: color 0.3s linear;
}

.axit-logo {
  margin-left: 115.28px;
}