.main-header {
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.main-header__conteiner {
  max-width: 94.375rem;
  margin: 0 auto;
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 10.625rem;
}

.main-navigation__link {
  font-family: "Raleway", sans-serif;
  font-weight: 37.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  min-width: 7.1125rem;
  justify-content: space-around;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link:hover {
  color: red;
  transition: color 0.3s linear;
}

.axit-logo {
  margin-left: 7.205rem;
}

@media(max-width: 480px){
.main-navigation{
  display: none;
}
.axit-logo {
  margin-left: 1.25rem;
}
}