.section-header__title {
    font-weight: 400;
    line-height: 2.625rem;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.section-header__line {
  border: 1px solid #ec7979;
  max-width: 10.625rem;
  margin: auto;
  margin-top: 3.375rem;
}

.section-header__subtitle {
  margin-top: 2.5rem;
  text-align: center;
  font-weight: 400;
  color: #86878b;
}