.social {
    background: #F8EFEF;
    padding-top: 0.875rem;
    padding-bottom: 1.125rem;
}

.social-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotips {
    display: flex;
    justify-content: space-between;
    min-width: 41.875rem;
}

.social-content__title {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    line-height: 2.0625rem;
    color: #333333;
}

.social-content__subtitle {
    margin-top: 1.125rem;
    font-weight: 400;
    color: #86878B;
}