.stylish{
    position: relative;
    background-image: url(../assets/icons/begraund-stylish.svg);
    background-position: 0 0;
    background-size: 1510px 442px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 104px;
}
.stylish::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

}
.stylish-content-color{
   color: #FFFFFF;
}
.stylish-content-line{
    border: 1px solid #FFFFFF; 
}
.stylish__button{
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 50px;
    width: 370px;
    height: 58px;
    background: none;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;

color: #FFFFFF;
}
.stylish-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}