.stylish {
    position: relative;
    background-image: url(../assets/icons/begraund-stylish.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6.5rem;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
}

.stylish::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.stylish-content-color {
    color: #FFFFFF;
}

.stylish-content-line {
    border: 1px solid #FFFFFF;
}

.stylish__button {
    margin-top: 2.6875rem;
    margin-bottom: 3.125rem;
    min-width: 23.125rem;
    min-height: 3.625rem;
    background: none;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.stylish-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}