.awesome {
  margin-top: 117px;
}

.section-header__title {
  text-align: center;
  font-family: "Raleway", sans-serif;

  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.section-header__line {
  border: 1px solid #ec7979;
  width: 170px;
  margin: auto;
  margin-top: 54px;
}

.section-header__subtitle {
  margin-top: 40px;
  text-align: center;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
}

.awesome-sectioncard {
  margin-top: 71px;
  display: flex;
}

.awesome__card {
  width: 370px;
}

.awesome__card-frame {
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  margin: 39px 139px;
  justify-content: center;
}

.awesome__card-imeg {
  width: 65.29px;
  height: 65.29px;
  margin: 13.35px;
}

.awesome__card-title {
  margin-top: 73px;

  font-family: "Open Sans";
  font-size: 24px;
  line-height: 33px;

  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

.awesome__card-subtitle {
  margin-top: 41px;

  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

.awesome__card:nth-child(2) {
  margin: 0px 30px;
}